<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Pages</title>
  </head>
  <body>
    <%= render "layouts/nav" %>

    <div id="title-bar">
        <h1>My Pages</h1>
    </div>

    <div id="my-pages-container">
        <% @user.pages.each do |page| %>
            <% if page.user == @user %>
                <div id="user-page-box">
                    <%= link_to page.title, page_path(page), class: "page-title" %>
                    <%= link_to page.description, page_path(page), class: "page-description" %>
                    <div id="button-box">
                        <button id="edit">
                            <%= link_to 'edit', edit_page_path(page), id: "edit-link" %>
                        </button>
                        <button id="delete">
                            <%= link_to 'Delete Page', page_path(page), method: :delete,
                            data: { confirm: 'Are you sure you want to delete?' }, id: "delete-link" %>
                        </button>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
  </body>
</html>