<html lan="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <%= render "layouts/nav" %>
        <div id="login-background">
            <div id="login-box">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: "login-form" }) do |f| %>
                    <h1>Login</h1>
                    <div id="field">
                        <%= f.label :email %>
                        <%= f.email_field :email, id: "email" %>
                    </div>

                    <div id="field">
                        <%= f.label :password %>
                        <%= f.password_field :password, id: "password" %>
                    </div>

                    <% if devise_mapping.rememberable? %>
                        <div id="checkbox-div">
                            <%= f.label :remember_me, id: "checkbox-text" do %>
                                remember me
                                <%= f.check_box :remember_me, id: "checkbox" %>
                            <% end %>
                        </div>
                    <% end %>

                    <div id="field">
                        <%= f.submit "Login", id: "login-button" %>
                    </div>

                    <div id="devise-links">
                        <%= render "devise/shared/links" %>
                    </div>
                <% end %>
            </div>
        </div>
    </body>
</html>
