<!DOCTYPE html>
<html>
<head>
    <title>ChitChat</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag "icon.png" %>
    <%= csrf_meta_tags %>
</head>
<body>

<% if false %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
